header {
    z-index: 99;
}

.header-wrap {
    height: 60px;
    align-items: center;
}

.search_info {
    display: none;
}

.header__search {
    justify-content: end;
}

.header__icon {
    font-size: 28px;
    display: block;
}

.header__icon__list {
    display: none;
}

.header__icon__search {
    display: none;
}

@media only screen and (max-width: 992px) {
    .header__left__wrap {
        padding-top: 2px;
        justify-content: end !important;
    }
    .header__account {
        display: none !important;
    }
    .header__icon__search {
        display: none;
    }
    .cart__heading {
        display: none !important;
    }
    .header__icon__list {
        display: block;
    }
    .navbar {
        display: none;
        background-color: transparent !important;
        height: 0 !important;
        padding: 0;
        margin: 0;
    }
    .navbar.active {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .header__search {
        display: none !important;
    }
    .header__account {
        display: none !important;
    }
    .header__left__wrap {
        padding-left: 4rem;
        padding-top: 2px;
        justify-content: space-between !important;
    }
    .header__icon__search {
        display: block;
    }
}

@media only screen and (max-width: 568px) {
    .container {
        padding: 0 15px;
        max-width: 100%;
    }
    .header__search {
        display: none !important;
    }
    .header__account {
        display: none !important;
    }
    .header__cart {
        display: none !important;
    }
    .header__left__wrap {
        padding-left: 3rem;
        padding-top: 2px;
        justify-content: space-between !important;
    }
}

.cart-icon {
    font-size: 26px;
    margin-right: 10px;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    height: 38px;
}

.btn-header-search {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 26px;
    right: 6px;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    height: 50px;
    z-index: 99;
}

.nav__list {
    margin: auto;
    list-style: none;
    justify-content: center;
    background-color: var(--main-color);
    gap: 5px;
}

.nav__list>li {
    padding: 0.5rem 0.9375rem;
    color: #fff;
    font-size: 0.9375rem;
}

.header__cart {
    height: 100%;
    position: relative;
}

.header__cart:hover .header__cart__body {
    display: block;
}

.header__cart__body:hover {
    display: block;
}

.header__cart__body {
    position: absolute;
    display: none;
    z-index: 100;
    width: 375px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.25rem;
    right: 0;
    top: 70px;
    box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.header__cart__body::before {
    top: -10px;
    right: 0;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.header__cart__body::after {
    top: -5px;
    right: 10px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotateZ(45deg);
    z-index: 0;
    background-color: rgb(255, 255, 255);
}

.header__cart__img {
    height: 110px;
    width: 110px;
    margin-right: 0.625rem;
}

.header__cart__item__title {
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    line-clamp: 2;
    text-align: justify;
}

.header__cart__item__price {
    font-size: 1rem;
    font-weight: 600;
}

.header__cart__list {
    list-style: none;
    max-height: 500px;
}

.header__cart__item__quanlity {
    border: 1px solid #cacaca;
    border-radius: 2px;
}

.header__cart__item__quanlity button {
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;
}

.header__cart__item__quanlity input {
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;
    text-align: center;
}

.header__cart__item__quanlity button:first-child {
    border-right: 1px solid #cacaca;
}

.header__cart__item__quanlity button:last-child {
    border-left: 1px solid #cacaca;
}

.header__cart__button {
    margin: 0 10px;
}

.header__cart__button button {
    min-width: 150px;
}