.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.25rem !important;
    padding-bottom: 0.25rem !important;
}

.form-floating>label {
    color: #717171 !important;
}

.form-floating>.form-control {
    height: 2.75rem;
}

.form-floating>label {
    padding: 0.75rem;
}

.info__title,
.transfer__title,
.order-detail__title {
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    position: relative;
}

.form-check {
    border: 1px solid #ced4da;
    padding: 0.75rem;
    height: 2.75rem;
    border-radius: .25rem;
}

.form-check .form-check-input {
    margin-left: 0;
}

.form-check-label {
    padding-left: 0.5rem;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
}

.form-check-label__icon {
    font-size: 1.875rem;
    transform: translateY(-10px);
}

#order-detail-table tr td:last-child {
    text-align: end;
}

#order-detail-table tr td {
    padding-top: 0.75rem;
    color: #717171;
}

.section-order-title {
    position: relative;
}

.section-order-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
}

.order-detail {
    border-left: 1px solid var(--divider-color);
    overflow: hidden;
}

#expand-order-detail {
    display: none;
}

.order__item__img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    position: relative;
    border-radius: 0.5rem;
    margin: auto 0.5rem auto 0;
}

.order__item__img::after {
    content: "";
    position: absolute;
    border: 1px solid #bababa;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
}

.order__item__quanlity {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #2a9dcc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    color: white;
    transform: translate(40%, -40%);
}

.order__item__img img {
    width: 100%;
    height: 100%;
}

.order__item__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.order__item__name {
    text-overflow: ellipsis;
}

.order-detail__list {
    max-height: 150px;
    overflow: auto;
}


/* 
.order-detail__title::after {
    position: absolute;
    content: "";
    width: calc(100% + 0.9375rem);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--divider-color);
    transform: translateX(-0.9375rem);
    margin-top: 1.25rem;
} */

.order__nav {
    display: none !important;
}

@media only screen and (max-width: 992px) {
    .order__info {
        order: 2;
    }
    .order__method {
        order: 3;
    }
    .order-detail {
        order: 1;
    }
    .order__nav {
        order: 4;
    }
    #expand-order-detail {
        display: block;
    }
    .order-detail__list.active {
        display: block;
    }
    .order-detail__list {
        display: none;
    }
    .order-detail__nav {
        display: none !important;
    }
    .order__nav {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }
}