.section-title {
    margin-top: 20px;
    ;
}

.section-title h2 {
    font-size: 1.125rem !important;
    position: relative;
    display: inline-block;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid #888;
}